<launchConfiguration type="de.actis.bom.ui.ACTISTransformationLaunchConfigurationType">
<booleanAttribute key="LAUNCH_ATTR_DB_CONNECTOR" value="true"></booleanAttribute>
<stringAttribute key="de.actis.bom.ui.ATTR_DB_SOURCE_HOSTNAME" value=""></stringAttribute>
<stringAttribute key="de.actis.bom.ui.ATTR_DB_SOURCE_NAME" value=""></stringAttribute>
<stringAttribute key="de.actis.bom.ui.ATTR_DB_SOURCE_PORT" value=""></stringAttribute>
<stringAttribute key="de.actis.bom.ui.ATTR_DB_SOURCE_PWD" value=""></stringAttribute>
<stringAttribute key="de.actis.bom.ui.ATTR_DB_SOURCE_USER" value=""></stringAttribute>
<stringAttribute key="de.actis.bom.ui.ATTR_DB_SQL_COMMAND" value=""></stringAttribute>
<booleanAttribute key="de.actis.bom.ui.ATTR_DB_SQL_DYNAMIC_CURSOR" value="false"></booleanAttribute>
<stringAttribute key="de.actis.bom.ui.ATTR_DB_TARGET_HOSTNAME" value=""></stringAttribute>
<stringAttribute key="de.actis.bom.ui.ATTR_DB_TARGET_NAME" value=""></stringAttribute>
<stringAttribute key="de.actis.bom.ui.ATTR_DB_TARGET_PORT" value=""></stringAttribute>
<stringAttribute key="de.actis.bom.ui.ATTR_DB_TARGET_PWD" value=""></stringAttribute>
<stringAttribute key="de.actis.bom.ui.ATTR_DB_TARGET_USER" value=""></stringAttribute>
<booleanAttribute key="de.actis.bom.ui.ATTR_DB_USE_CHAR" value="false"></booleanAttribute>
<booleanAttribute key="de.actis.bom.ui.ATTR_DB_USE_PARAM_TF" value="true"></booleanAttribute>
<booleanAttribute key="de.actis.bom.ui.ATTR_OPEN_OUTPUT" value="false"></booleanAttribute>
<mapAttribute key="de.actis.bom.ui.ATTR_PARAMETERS_ENABLED"></mapAttribute>
<stringAttribute key="de.actis.bom.ui.ATTR_SOURCE_INPUT" value="testdata/test.tst"></stringAttribute>
<stringAttribute key="de.actis.bom.ui.ATTR_SOURCE_OUTPUT" value="xml/proof_schematron.xml"></stringAttribute>
<stringAttribute key="de.actis.bom.ui.ATTR_SOURCE_PROJECT" value="webedi_automotive_delfor99b_proof"></stringAttribute>
<mapAttribute key="de.actis.bom.ui.ATTR_STEPS">
<mapEntry key="3" value="false"></mapEntry>
<mapEntry key="2" value="false"></mapEntry>
<mapEntry key="1" value="false"></mapEntry>
<mapEntry key="0" value="false"></mapEntry>
<mapEntry key="4" value="true"></mapEntry>
</mapAttribute>
<intAttribute key="de.actis.bom.ui.ATTR_TF_ENGINE" value="0"></intAttribute>
<booleanAttribute key="de.actis.bom.ui.ATTR_TRACE_ABBILDER" value="false"></booleanAttribute>
<booleanAttribute key="de.actis.bom.ui.ATTR_TRACE_COMPLETE" value="false"></booleanAttribute>
<stringAttribute key="de.actis.bom.ui.ATTR_TRACE_FILE" value="/formdb/trace.txt"></stringAttribute>
<booleanAttribute key="de.actis.bom.ui.ATTR_TRACE_SCANNER" value="false"></booleanAttribute>
<booleanAttribute key="de.actis.bom.ui.ATTR_TRACE_SORTER" value="false"></booleanAttribute>
<booleanAttribute key="de.actis.bom.ui.ATTR_TRACE_USE_FILE" value="false"></booleanAttribute>
<intAttribute key="de.actis.bom.ui.DEL_TEMPTFFILE" value="0"></intAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables"></mapAttribute>
</launchConfiguration>